WF8H4F_1006/nevjegykartya.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="nevjegykartyak" type="nevjegyTipus"/>
  <xs:complexType name="cimTipus">
    <xs:sequence>
      <xs:element type="xs:byte" name="iranyitoszam"/>
      <xs:element type="xs:string" name="varos"/>
      <xs:element type="xs:string" name="utca"/>
      <xs:element type="xs:byte" name="hazszam"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cegTipus">
    <xs:sequence>
      <xs:element type="cimTipus" name="cim"/>
      <xs:element type="xs:string" name="nev"/>
      <xs:element type="xs:int" name="telefonszam"/>
      <xs:element type="xs:anyURI" name="weblap"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="telefonszamTipus">
    <xs:simpleContent>
      <xs:extension base="xs:int">
        <xs:attribute type="xs:string" name="korzet" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="nevjegykartyaTipus">
    <xs:sequence>
      <xs:element type="xs:string" name="nev"/>
      <xs:element type="cegTipus" name="ceg"/>
      <xs:element type="xs:string" name="beosztas"/>
      <xs:element type="telefonszamTipus" name="telefonszam"/>
      <xs:element type="xs:string" name="email"/>
    </xs:sequence>
    <xs:attribute type="xs:int" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="nevjegyTipus">
    <xs:sequence>
      <xs:element type="nevjegykartyaTipus" name="nevjegykartya" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

